.mat-toolbar {
    background: #01bcd5;
}

.mat-toolbar > * {
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.mat-toolbar h1 {
    color: black;
    font-size: 28px;
    font-weight: 400;
}

.example-spacer {
    flex: auto;
}
